@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&display=swap");

:root {
  --color1: #213040;
  --color2: #d1d4dc;
  --color3: #2c3e50;
  --font1: "Press Start 2P";
  --font2: "Nunito";
  display: inline-block;
}
* {
  font-family: var(--font2);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

